<div class="container" style="margin-top:12px;">
    <form [formGroup] = "empForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Employee id</label>
          <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName = "id">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Employee Name</label>
          <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Name" formControlName = "employee_name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Employee salary</label>
          <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Salary" formControlName = "employee_salary">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Employee Age</label>
          <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Age" formControlName = "employee_age">
        </div>
        <button type="submit" class="btn btn-primary" (click)= "onSubmit(empForm.value)">Submit</button>
        
        <button class="btn btn-primary"  style="margin-left: 5px;" routerLink = "/">back</button>
      </form>
</div>
